extends ../layouts/application

block content
  div#container
    header
      h1(href="/") Favorite Locations
      div.button
    div.scroll
      div.outer
        div.inner.main-wrapper
          main
