extends ../layouts/application

block content
  div#container
    header
      h1 Favorite Locations
      button(data-action="add") Add New Location
    div.scroll
      div.outer
        div.inner.main-wrapper
          main
