// general
// -------

@body-bg: #fff;

// custom colors
// -------------

// typography
// ----------

@base-font-family: Helvetica, Arial, sans-serif;
@base-font-size: 20px;
@base-line-height: 1.4;
@base-font-color: #2c3e50;

@heading-font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
@heading-font-weight: 100;
@heading-font-color: #4098bc;

@mono-font-family: monospace, "Courier New", serif;

@small-font-size: 0.75em;
@font-smoothing: antialiased;

// links
// -----

@link-color: inherit;
@link-decoration: none;

@link-hover-color: inherit;
@link-hover-decoration: none;

// forms
// -----

@placeholder-text-color: #8b8c8e;

// grid
// ----

@columns: 12;
@column-width: 7%;
@gutter-width: 1.33333%;
