!!! 5
html
  head
    title Favorite Locations
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
    link(href='assets/application.css', media='screen', rel='stylesheet')
  body
    block content
    script(src='http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false')
    script(src='assets/application.js')
